@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, html {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#container {
  text-align: center;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#darko {
  max-width: 50%;
  margin-bottom: 20px;
}

.minimal-button {
  font-size: 20px;
  padding: 12px 24px;
  color: #fff;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.minimal-button:hover {
  background-color: #555;
}

#image {
  max-width: 85%;
  max-height: 85vh;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.message {
  font-size: 1.4rem;
  color: #fff;
  padding: 20px;
  border: 1px solid #333;
  background-color: #111;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
}
